.page {
  width: 100%;
  background-color: var(--white);
  padding: 64px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 88px;
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
}

.topSection {
  display: flex;
  gap: 24px;
  min-width: 0;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sectionTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}

.bottomReviews {
  display: flex;
  gap: 48px;
}

@media (max-width: 768px) {
  .topSection,
  .bottomSection {
    flex-direction: column;
  }
}
