.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 72px;
  gap: 24px;
  width: 100%;
  padding: 24px 64px;
  border-bottom: 1px solid var(--badges);
  background-color: var(--inputs);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  list-style-type: none;
}

.link {
  position: absolute;
  left: 64px;
}

.navLink,
.activeLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.navLink {
  color: var(--main);
}

.activeLink {
  color: var(--grey-green);
  cursor: default;
  pointer-events: none;
}
