.container {
  display: flex;
  gap: 40px;
  padding: 40px 20px;
  align-items: flex-start;
  height: calc(100dvh - 72px);
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 600px;
}

.loadMoreBtn {
  margin-top: 24px;
  padding: 12px 24px;
  cursor: pointer;
}
