.container {
  display: flex;
  align-items: flex-start;
  gap: 64px;
  padding: 48px 64px;
}

.sidebar {
  flex-shrink: 0;
  width: 360px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  min-width: 0;
  max-width: 888px;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.loadMoreBtn {
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 32px;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--main);
  transition: border-color 250ms ease;
}

.loadMoreBtn:hover {
  border-color: var(--green-hover);
}
