.info {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  min-width: 0;
  gap: 16px;
}

.hero {
  border-radius: 16px;
  padding: 24px;
  background-color: var(--inputs);
}

.title {
  margin-bottom: 8px;
  line-height: 1.33;
  font-weight: 600;
  font-size: 24px;
  color: var(--main);
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
  margin-top: 16px;
  margin-bottom: 24px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.sectionTitle {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  border-radius: 100px;
  background-color: var(--badges);
  font-size: 14px;
  line-height: 1.5;
  color: var(--main);
}

.badge svg {
  flex-shrink: 0;
}

.dash {
  display: block;
  border-radius: 16px;
  margin: 16px 0;
  border: 1px solid var(--gray-light);
  max-width: 602px;
}

.specifications {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.specifications div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.specifications dt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--main);
}

.specifications dd {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--main);
}
