.gallery {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 100%;
  max-width: 638px;
}

.mainImage {
  position: relative;
  width: 638px;
  height: 505px;
  overflow: hidden;
  border-radius: 17px;
}

.image {
  object-fit: cover;
}

.thumbnails {
  display: flex;
  gap: 32px;
  overflow-x: auto;
}

.thumbnail {
  position: relative;
  flex-shrink: 0;
  width: 135px;
  height: 145px;
  padding: 0;
  overflow: hidden;
  border: 3px solid transparent;
  border-radius: 16px;
  cursor: pointer;
}

.thumbnail.active {
  border-color: var(--grey-green);
}

.thumbnailImage {
  object-fit: cover;
}
